{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<link rel="stylesheet" href="/css/sanpham.css">

<header>
    <h2 class="Logo">TvStore</h2>

    <div class="menu">
        <li><a href"">Female</a>
            <ul class="sub-menu">
                <li><a href="{{path('app_home_product')}}">New products</a></li>
                <li><a href="">Shirt</a></li>
                    <ul>
                        {# <li><a href="">Shirt</a></li> #}
                        <li><a href="">T-shirt</a></li>
                        <li><a href="">Vest</a></li>
                        <li><a href="">Jacket</a></li>
                                  
                    </ul>
                </li>
                <li><a href="">Pants</a>
                    <ul>
                        <li><a href="">Jean</a></li>              
                        <li><a href="">Sweater</a></li>              
                        <li><a href="">Trouser</a></li>              

                    </ul>
            </ul>
        
        </li>
        <li><a href"">Male</a>
        <ul class="sub-menu">
                <li><a href="{{path('app_home_product')}}">hàng mới về</a></li>
                <li><a href="">Áo</a></li>
                    <ul>
                        <li><a href="">Áo sơ mi</a></li>
                        <li><a href="">Áo Thun</a></li>
                        <li><a href="">Áo Vest</a></li>
                               
                    </ul>
                </li>
                <li><a href="">Quần</a>
                    <ul>
                        <li><a href="">Quần Jean</a></li>              
                        <li><a href="">Quần Dài</a></li>                          

                    </ul>
            </ul>
        </li>
        <li><a href"">Children</a>
        </li>
        <li><a href"">Abous Us</a></li>        
    </div>
    <div class="order">
        <li><input placeholder="Search" type="text"><i class="fa fa-search"></i></li>
        <li><a class="fa fa-user-search" href="{{ path('app_login') }}">Login</a></li>
        <li><a class="fa fa-shopping-cart" href="{{ path('app_cart') }}">Cart</a></li>
        <li><a class="fa fa-faw"></a></li>
       
    </div>
</header>

{# {% comment %}
detail product 
{% endcomment %} #}

<tr>
     {# <td>{{ data.name }}</td> #}
     <td><img src="{{ asset('uploads/sanpham/' ~ data.getPhoto()) }}" class="img-fluid" alt="Product Photo" height="40"></td>
    <li>Name:{{ data.name }}</li>
    <li>Price:{{ data.price|number_format(0) }}</li>
    <tr><p><span style="font-weight: bold">Color</span>:Black</p><span style="color: black;"></span></tr>
</tr>        
                <div class="product-content-right-product-size">
                    <p style="font-weight: bold">Size</p>
                <div class="size">
                    <span>S</span>                
                    <span>M</span>                
                    <span>L</span>                
                    <span>XL</span>                
                    <span>XXL</span>                
                </div>
                 </div>
                <div class="quantity">
                     <p  style="font-weight: bold">Quantity</p>
                    <input type="number" min="0" value="1"> <br>    
                </div>
                <p style="color: red">Please select Size</p>
            <div class="product-content-right-product-button">
            <button><i class='bx bx-cart'></i><p>Add to Cart</p></button>
            <button type=="submit" class="btn"><p>The heart of the cave</p></button>
            </div>
            <div class="product-content-right-product-icon">
            <div class="product-content-right-product-icon-item"
                    <i class='bx bx-phone'></i><p>HotLine</p>
            </div>
            <div class="product-content-right-product-icon-item"
                    <i class='bx bx-chat' ></i><p>Chat</p>
            </div>
            <div class="product-content-right-product-icon-item"
                   <i class='bx bxl-gmail'></i><p>Mail</p>
            </div>
        </div>
        <div class="product-content-right-product-QR">
            <img src="/img/QR.jpg" alt="">
        </div>
         <div class="product-content-right-bottom">
            <div class="product-content-right-bottom-top">
                &#8744;
            </div>
             
                </div> 






<section class="product-related">
     <div class="product-related-title">
         <p>Related Products</p>
     </div>
     <div class="product-content row">
         <div class="col-md-2 product-related-item">
             <img src="/img/main2.webp" alt="Product Image">
             <h1>Ultra-short 2-shoulder sexy body</h1>
             <p>210,000<sub>đ</sub></p>
         </div>
         <div class="col-md-2 product-related-item">
             <img src="/img/main4.webp" alt="Product Image">
             <h1>Ultra-short 2-shoulder sexy body</h1>
             <p>210,000<sub>đ</sub></p>
         </div>
         <div class="col-md-2 product-related-item">
             <img src="/img/main5.webp" alt="Product Image">
             <h1>Ultra-short 2-shoulder sexy body</h1>
             <p>210,000<sub>đ</sub></p>
         </div>
         <div class="col-md-2 product-related-item">
             <img src="/img/main6.webp" alt="Product Image">
             <h1>Ultra-short 2-shoulder sexy body</h1>
             <p>210,000<sub>đ</sub></p>
         </div>
         <div class="col-md-2 product-related-item">
             <img src="/img/main7.webp" alt="Product Image">
             <h1>Ultra-short 2-shoulder sexy body</h1>
             <p>210,000<sub>đ</sub></p>
         </div>
     </div>
</section>


{# {% comment %}
footer
{% endcomment %} #}

<div class="footer-top">
    <li><a href="{{path('app_contact')}}">Contact</a></li>
    <li><a href="">Introduce</a></li>
    <li><a href="">Recruitment</a></li>
</div>
<div class="footer-center">
    <p>Address: 41 Cach Mang Thang 8 Street, An Hoa, Ninh Kieu, Can Tho - 0546 465 9675 <br>
    Order online : <b> 0343 658 5837</b>
    </p>
</div>
<div class="footer-bottom">
    @TvStore all right reserved
</div>

<script>
    const header = document.querySelector("header");
    window.addEventListener("scroll", function(){
        x = window.pageYOffset;
        if (x > 0) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    });

    const imgPosition = document.querySelectorAll('.adataect-ratio-169 img');
    const imgContainer = document.querySelector('.adataect-ratio-169');
    const dotItem = document.querySelectorAll('.dot');
    let imgNumber = imgPosition.length;
    let index = 0;

    imgPosition.forEach(function(image, index){
        image.style.left = index * 100 + "%";
        dotItem[index].addEventListener("click", function(){
            slider(index);
        });
    });

    function imgSlide(){
        index++;
        if (index >= imgNumber) {index = 0;}
        slider(index);
    }

    function slider(index){
       imgContainer.style.left = "-" + index * 100 + "%";
       const dotActive = document.querySelector('.active');
       dotActive.classList.remove("active");
       dotItem[index].classList.add("active");
    }

    setInterval(imgSlide, 5000);
</script>

<script>
    const bigImg = document.querySelector(".product-content-left-big-img img");
    const smallImg = document.querySelectorAll(".product-content-left-small-img img");
    
    smallImg.forEach(function(imgItem, X){
        imgItem.addEventListener("click", function(){
        imgItem.src = imgItem.src;
        });  
    });

    const baoQuan = document.querySelector(".baoquan");
    const chiTiet = document.querySelector(".chitiet");

    if (baoQuan){
        baoQuan.addEventListener("click", function(){
            document.querySelector(".product-content-right-bottom-content-chitiet").style.display = "block";
            document.querySelector(".product-content-right-bottom-content-baoquan").style.display = "none";
        });
    }

    if (chiTiet){
        chiTiet.addEventListener("click", function(){
            document.querySelector(".product-content-right-bottom-content-chitiet").style.display = "none";
            document.querySelector(".product-content-right-bottom-content-baoquan").style.display = "block";
        });
    }

    const button = document.querySelector(".product-content-right-bottom-top");

    if (button){
        button.addEventListener("click", function(){
            document.querySelector(".product-content-right-bottom-content-big").classList.toggle("activeB");
        });
    }
</script>

{% endblock %}
