{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<link rel="stylesheet" href="css/Register.css">
       <body>
        <header>
            <h2 class ="logo">TvStore</h2>
            <nav class="navigation">
                    
                    {# <a href='#'>About Us</a>
                    <a href='#'>Services</a>
                    <a href='#'>Products</a>
                    <a href='#'>Contact</a> #}
                    <a href="{{path('app_login')}}" class="btnLogin-popup">Login</a>   
                </nav>
        </header>
    </body>
 <div class= "container">
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.first_name) }}
        {{ form_row(registrationForm.last_name) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
            
        <button type="submit" class="btn">Register </button>
        <input type="button" value="Clear" onclick="clearForm()" class="btn btn-danger">

    {{ form_end(registrationForm) }}

    </div>
{% endblock %}
{% block javascripts %}
<script>
    function clearForm() {
        document.querySelector("form").reset();
    }
</script>
{% endblock %}
