
{% extends 'base.html.twig' %}

{% block title %}Hello SanPhamController!{% endblock %}

{% block body %}
  <div class= "container">
          <a href="{{path('app_san_pham')}}" class ="btn btn-success"> ADD </a>
          <a href="{{path('app_logout')}}" class ="btn btn-danger"> Logout </a>

        <table class="table">
        <thead> 
          <tr>
          <td>STT </td>
          <td> Mã Sp </td>
          <td>Hình ảnh </td>
          <td> Tên Sp</td>
          <td> Giá </td>
          <td>Giới thiệu</td>
          <td> Hành Động </td> 
          </tr>
        </thead> 
        <tbody>
        {% for sp in data %}
          <tr>
          <td>{{loop.index}}</td>
          <td>{{sp.getId()}} </td>
          <td><img src="{{asset('uploads/sanpham/' ~ sp.getPhoto())}}" height="150"/> </td>
          
          <td>{{sp.getName()}} </td>
          <td>{{sp.getprice()}} </td>
          <td>{{sp.getConlusion()}} </td>
          
          
          <td>
          <a href="{{path('app_edit_san_pham',{'id' :sp.getId()})}}" class ="btn btn-danger"> Edit </a>
          <a href="javascript:deletesp('{{path('app_delete_san_pham',{'id' :sp.getId()})}}')" class ="btn btn-warning">Delete </a>
          <form>
            <button type="submit" formmethod="post" formaction="{{path('app_cart_add',{'product_id':sp.getId()})}}">Add to cart</button>
          </form>
          </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
{% block javascripts %}
  <script>
    function deletesp(url){
      if(confirm("Do you delete product?")){
          window.location.href = url;
      }
    }
  </script>
{% endblock %}
 

