{% extends 'base.html.twig' %}

{% block title %}User Manager{% endblock %}

{% block body %}
          <a href="{{path('app_list_san_pham')}}" class ="btn btn-success"> List Product </a>
          <a href="{{path('app_ds_feedback')}}" class ="btn btn-success"> Feedback </a>
          <a href="{{path('app_ds_Invoice')}}" class ="btn btn-success"> Invoice </a>

    <div class="container">
        <a href="{{path('app_user_manager_add')}}" class='btn btn-primary'>Add</a>
        <a href="{{path('app_logout')}}" class='btn btn-danger'>Logout</a>
        <table class="table">
            <thead>
                <tr>
                    <td>STT</td>
                    <td>Username</td>
                    <td>Fullname</td>
                    <td>Act</td>
                </tr>
            </thead>
            <tbody>
                {% for u in data %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{u.getUsername()}}</td>
                        <td>{{u.getFirstName()}} {{u.getLastName()}}</td>
                        <td>
                            {# <a href="#" class='btn btn-warning'>Edit</a> #}
                            <a href="javascript:deletesp('{{path('app_delete_user_manager',{'id' :u.getId()})}}')" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        function deletesp(url){
            if(confirm("Do you delete product?")){
                window.location.href = url;
            }
        }
    </script>

{% endblock %}